
body, html
{
    width: 100%;
    height: 100%;
    font-family: "Droid Sans", arial, verdana, sans-serif;
    font-weight: 400;
    color: yellow;
    background: #000;
    overflow: hidden;
}
@keyframes scroll {
    0% {
        top: 100%;
    }
    100% {
        top: -100%;
    }
}

.titles {
    position: absolute;
    width: 20em;
    height: 50em;
    bottom: 0;
    left: 50%;
    margin-left: -9em;
    font-size: 350%;
    font-weight: bold;
    text-align: justify;
    transform-origin: 40% 100%;
    transform: perspective(400px) rotateX(20deg);
}
.titles::after{
    position: absolute;
    content: ' ';
    left: 0;
    right: 0;
    top: 0;
    bottom: 60%;
    background: linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
}
.title__content {
    position: absolute;
    top: 100%;
    animation: scroll 30s 4s infinite;
}


